/* ==========================================================================
   FOOTER
   ========================================================================== */
.page__footer {
  @include clearfix;
  position: fixed; /* Ensure the footer remains at the bottom */
  bottom: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 50px; /* Adjust height as needed */
  background-color: $background-color !important; /* Force the background color */
  border-top: 1px solid $light-gray;
  z-index: 1000; /* Keep the footer on top of other elements */
  margin: 0;
  padding: 0;
  color: mix(#fff, $gray, 25%);
  -webkit-animation: intro 0.3s both;
  animation: intro 0.3s both;
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;

  footer {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em; /* Adjust padding if needed */
    max-width: $x-large;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .fas,
  .fab,
  .far,
  .fal {
    color: mix(#fff, $gray, 25%);
  }
}

/* To ensure the footer image properly fills the bottom-right corner */
.page__footer-img {
  position: absolute; /* Absolute positioning */
  right: 0;
  bottom: 0;
  height: 100%; /* Fill the footer's height */
  width: auto; /* Maintain aspect ratio */
  z-index: 999; /* Ensure it's behind text if needed */
}

/* Add a wrapper around the rest of the page content */
.page__content {
  padding-bottom: 60px; /* Give enough space for the fixed footer */
}


.page__footer-copyright {
  font-family: $global-font-family;
  font-size: $type-size-7;
}

.page__footer-img-v2 {
   img {
    max-width: 10%; /* Make the image responsive */ 
    max-height: 10%; /* Ensure it doesn't exceed the footer height */ 
    object-fit: contain; /* Maintain aspect ratio */ 
    position:fixed;
    bottom:0!important;
    right: 0!important;
    padding: 0!important;
   }
}

.page__footer-follow {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: $sans-serif-narrow;
    font-size: $type-size-6;
    text-transform: uppercase;
  }

  li + li:before {
    content: "";
    padding-right: 5px;
  }

  a {
    padding-right: 10px;
    font-weight: bold;
  }

  .social-icons {
    a {
      white-space: nowrap;
    }
  }
}
